.container
  .row
    .seven.columns
      - @goals.each do |i|
        - @goal = i
        .card.main
          %h5.title= link_to("#{i.name}", goal_path(i))
          .goal-body
            %ul
              - i.tasks.each do |u|
                -if !u.done
                  %li= u.name
              .form
                = render "tasks/form"
      -if @goals.count < 3
        .card.main
          %h5.title= link_to("New Goal", new_goal_path)

    .five.columns
      .flow
        .card
          %h5.title Flow
          %ul
            - @goals.each do |i|
              - @goal = i
              - @goal.tasks.each do |u|
                -@task = u
                -if @task.id? && !@task.done?
                  %li= render "tasks/done_form"
