.container
  .row
    .seven.columns
      - @goals.each do |goal|
        .card.main
          %h5.title= link_to("#{goal.name}", goal_path(goal))
          .goal-body{id: "goal_#{goal.id}"}
            %ul
              - goal.tasks.each do |task|
                -if !task.done
                  %li{id:"task_#{task.id}"}= task.name
            .form{id: "goal_#{goal.id}"}= render partial: "tasks/form", locals: { goal: goal, task: goal.tasks.build }
      
      -if @goals.count < 3
        .card.main
          %h5.title= link_to("New Goal", new_goal_path)

    .five.columns
      .flow
        .card
          %h5.title Flow
          %table
            - @goals.each do |goal|
              - goal.tasks.where.not(id: nil).not_done.each do |task|
                .form{id: "goal_#{goal.id}"}= render partial: "tasks/done_form", locals: { goal: goal, task: task }
