= javascript_include_tag "https://www.google.com/jsapi", "chartkick"
%h1= @goal.name

.row
  .six.columns
    .card.main
      = line_chart [{name: "Worked", data: @goal.tasks.group_by_week(:date_planned).sum(:hours_worked)}, {name: "Planned", data: @goal.tasks.group_by_week(:date_planned).sum(:hours_planned)}]

  .six.columns
    .card.main
      = bar_chart [{name: "Worked", data: @goal.tasks.group(:goal_id).sum(:hours_worked)}, {name: "Planned", data: @goal.tasks.group(:goal_id).sum(:hours_planned)}]
.p= link_to("archive goal", "/#{@goal.id}/archive", method: :patch)



